<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">Quadrante Ágape</h1>
            <h2 class="subtitle is-6">At 2, 42</h2>
        </div>
    </div>
</section>