<alumnus-form></alumnus-form>
<p>{{ erroMsg }}</p>
<button class="button is-info">Insert alumni</button>
<table class="table">
    <thead>
      <th>Name</th>
      <th>Age</th>
      <th> </th>
    </thead>
    <tfoot></tfoot>
    <tbody>
      <tr *ngFor="let alumni of alumnus">
        <td>{{ alumni.name }}</td>
        <td>{{ alumni.age }}</td>
        <td>
          <a (click)="showData(alumni)">
            <i class="fa fa-address-book-o"></i><br />
            <p>Data</p>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

<alumnus-data></alumnus-data>
