<div class="columns">
  <section class="column is-3 is-offset-6 box">
  <form [formGroup]="authForm" (ngSubmit)="OnSubmit(authForm)">

    <div class="field">
      <label class="label">Username</label>
      <p class="control has-icons-left has-icons-right">
        <input type="text" formControlName="user"
              class="input"  placeholder="Username">
        <span class="icon is-small is-left">
          <i class="fa fa-user"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <p class="control has-icons-left">
        <input type="password" formControlName="password"
               class="input" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
      </p>
    </div>

    <div class="field is-grouped">
      <p class="control">
        <button type="submit" class="button is-primary">Do Login</button>
      </p>
      <p class="control">
        <button type="reset" class="button is-link">Cancel</button>
      </p>
    </div>

  </form>  
  </section>
</div>