<div>
  <h1>Ficha de Inscrição</h1>
  <p>form works</p>
  <form [formGroup]="form" (submit)="insert(form)">

    <div>
      <label for="">Name:</label>
      <input type="text" formControlName="name">
    </div>
    
    <div>
      <label for="">Age:</label>
      <input type="text" formControlName="age">
    </div>

    <input type="submit" 
           class="button" value="Insert alumni">
  </form>
</div>
