<navbar></navbar>
<header></header>
<br />
<div class="content">
    <div class="columns">
    <div class="column is-10">
        <router-outlet></router-outlet>
    </div>
</div>
</div>

<footer class="footer"></footer>
