<div class="container">
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          
          
          <article class="tile is-child notification is-primary">
            <a routerLink="/alumnus">
            <p class="title">Alumnus</p>
            <p class="subtitle">List and insert new alumni</p>
            </a>
          </article>
          

          <article class="tile is-child notification is-warning">
            <p class="title">Wait list</p>
            <p class="subtitle">View list</p>
          </article>
        </div>

        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <a routerLink="/cab">
            <p class="title">Generate Cab Routes</p>
            <p class="subtitle">With an image</p>
            <figure class="image is-4by3">
              <img src="http://bulma.io/images/placeholders/640x480.png">
            </figure>
            </a>
          </article>
        </div>
      </div>
    </div>

    <div class="tile is-parent">
      <article class="tile is-child notification is-success">
        <div class="content">
          <p class="title">Tall tile</p>
          <p class="subtitle">With even more content</p>
          <div class="content">
            <!-- Content -->
          </div>
        </div>
      </article>
    </div>
  </div>
</div>